.header{
    margin-top: -30px;
}
.ulMain{
    width: 600px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.li{
    font-size: 30px;
    font-family: "Candara Light";
    color: mediumaquamarine;
    background: greenyellow;
    border: 1px solid black;
}